<div id="search-holder" class="language-search">
  <div class="read-page">
    <div class="structure-pane">
      <h2>Languages</h2>

      <ul id="language-list">
        <% @languages.each do |language| %>
            <li class="<%= 'selected' if @language and language.id==@language.id %>">
              <%= link_to language.designation, language_path(language) %>
              <% if logged_in? %>
                  <%= link_to 'delete', language_path(language.id), :method => :delete, :class => 'delete', :confirm => 'Are you sure ?' %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>

    <div class="read-pane search-page">
      <div class="search-result-page">
        <% if @language %>
        <%= render 'show' %>
        <% else %>
            <p>Select a language</p>
        <% end %>
      </div>
    </div>
  </div>
</div>