<!-- Banner -->
<section id="banner">
  <header>
  </header>
</section>

<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2>Acknowledgements</h2>
    </header>
    <br>
    <br>
    <ul style="list-style-type:none">
      <p>
      <h3>Project Team</h3>
      <ul style="list-style-type:none">
        <li>Doyle Calhoun (Primary Investigator)</li>
        <li>Anna Kijas (Senior Digital Scholarship Librarian)</li>
        <li>Benjamin Florin (Web Developer)</li>
        <li>Margaret Thomas (Faculty Advisor, Department of Linguistics)</li>
      </ul>
      <br>
      <br>
      <h4>With Support from</h4>
      <ul style="list-style-type:none">
        <li>Nina Bogdanovsky</li>
        <li>Digital Libraries Team and Elizabeth Post</li>
        <li>Library Systems and Emily Singley</li>
        <li>Ben Doyle (TAPAS Project Manager, Northeastern University)</li>
      </ul>
    </ul>
  </article>


</div>


</div>
