<!-- Banner -->
<section id="banner">
  <header>
  </header>
</section>




<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2>Bibliography</h2>
    </header>
    <br>
    <br>
    <ul style="list-style-type:none">
      <li>Dobrin, L. & Good, J. 2009. Practical language development: Whose mission?. <em>Language</em> 85(3): 619–629.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Epps, P. & Ladley, H. 2009. Syntax, souls, or speakers? On SIL and community language development.
        <em>Language</em> 85(3): 640–646.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Handman, Courtney. 2009. Language ideologies, endangered-language linguistics, and Christianization.
        <em>Language</em> 85(3): 635–639.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Olson, Kenneth. 2009. SIL International: An emic view. <em>Language</em> 85(3): 646–652.</li>
    </ul>
    <ul style="list-style-type:none">
      <li>Ridruejo, Emilio. 2014. Constantes y variables en la Lingü.stica Misionera hispánica. Métodos y resultados
        actuales en Historiografía de la Lingü.stica [...] , ed. by María Luisa Calero et al., 617–641. Münster:
        Nodus.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Svelmoe, William. 2009. ‘We do not want to masquerade as linguists’: A short history of SIL and the academy.
        <em>Language</em> 85(3): 629–635.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Zwartjes, Otto. (2012). The Historiography of Missionary Linguistics: Present state and further research
        opportunities. <em>Historiographia Linguistica</em> 39.185–242.
      </li>
    </ul>
    <ul style="list-style-type:none">
      <li>Zwartjes, Otto et al. ed. 2014. Missionary linguistics V: Translation theories and practices. Amsterdam &
        Philadelphia: Benjamins.
      </li>
    </ul>
    <footer>
      <a href="#" class="button">read more</a>
    </footer>
  </article>


</div>
