<!-- Banner -->
<section id="banner">
  <header>
  </header>
</section>




<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2>Contact</h2>
    </header>
    <br>
    <br>
    <h3>Questions:</h3>
    <p>As this project is ongoing, we welcome questions, comments, corrections, and suggestions related to any aspect of
      the current project. Please direct these inquiries to Doyle Calhoun (calhound@bc.edu). Incl. digital scholarship
      email (digschol-ggroup@bc.edu) Contact form
      <br>
    <h3>Contribute:</h3>
    <p>If you would like to contribute information related to any of the texts, languages, authors, or missionary
      organizations represented in the corpus, please contact Doyle Calhoun (calhound@bc.edu). (Something about
      accepting additions of new texts to augment the corpus here??)
    </p>
    <br>
    <footer>
      <a href="#" class="button">read more</a>
    </footer>
  </article>
</div>
