<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2>Project CV</h2>
    </header>
    <br>
    <br>
    <ul style="list-style-type:none">
      <li>
        <h3>Interviews and press releases</h3>
        <br>
        <p>To be added</p>
        <br>
        <h3>Publications and presentations</h3>
        <br>
        <ul style="list-style-type:none">
          <li>Boston College Annual Undergraduate Research Symposium, Chestnut Hill, MA, March 2016</li>
          <li>Presentation: ‘Digitizing and contextualizing French missionary linguistic texts’
          </li>
        </ul>
        <ul style="list-style-type:none">
          <li>Presentation: ‘Digitizing and contextualizing French missionary linguistic texts’
            Conference of the North American Association for the History of the Language Sciences (NAAHoLS), Washington,
            DC, January, 2016
          </li>
        </ul>
        <ul style="list-style-type:none">
          <li>Presentation: ‘Reading paratexts in missionary linguistic works through the lens of Genette’s (1987)
            poetics’ (Doyle Calhoun)
          </li>
        </ul>
        <br>
        <br>
        <h3>Grants and awards</h3>
        <br>
        <ul style="list-style-type:none">
          <li>Fulbright (2016–2017), U.S. Department of State (IIE) Fellowship</li>
          <ul>
            <li>Recipient: Doyle Calhoun</li>
            <li><em>Full funding for one year of research and residency in Belgium</em></li>
          </ul>
          <ul style="list-style-type: none">
            <li>Vivien Law Prize, December 2015
              <ul>
                <li>Recipient: Doyle Calhoun (first North American, and youngest recipient)</li>
                <li>
                  <em>This is an international prize awarded by the Henry Sweet Society that recognizes the best student
                    essay in the History of Linguistic Ideas. The competition is open to all currently registered
                    students,
                    and to scholars who have received their PhD within the last five years.</em></li>
              </ul>
            </li>
            <ul style="list-style-type: none">
              <li>Undergraduate Thesis Research Supplemental Grant, Fall 2015</li>
              <li>Recipient: Doyle Calhoun</li>
              <li>
                <em>A grant awarded by the University Fellowships Committee to seniors undertaking a thesis project, to
                  cover additional research expenses related to the completion of the project.</em>
            </ul>
            <ul style="list-style-type: none">
              <li>ACC-IAC (Undergraduate) Thesis Research Fellowship, Summer 2015</li>
              <li>Recipient: Doyle Calhoun</li>
              <li>
                <em>A grant awarded by the Atlantic Coast Conference International Academic Collaborative in support of
                  summer research related to a senior honors thesis project.</em></li>
            </ul>
            <br>
            <br>
            <!--Placeholder
            <h3>Reviews and citations</h3>
            <br>
            <br>
            <h3>Directions for further research</h3>
            <h3>History of the site</h3>
            -->
          </ul>
          <br>
          <br>
          <footer>
            <a href="#" class="button">read more</a>
          </footer>
        </ul>
      </li>
    </ul>
  </article>
</div>