<%= content_for :header do %>
    Project CV
<% end %>


<h3>Interviews and press releases</h3>

<p>To be added</p>

<h3>Publications and presentations</h3>

__Boston College Annual Undergraduate Research Symposium__    Chestnut Hill, MA, March 2016
        _Presentation_: ‘Digitizing and contextualizing French missionary linguistic texts’
        _Presenter_: Doyle Calhoun

__Conference of the North American Association for the History of the Language Sciences (NAAHoLS)__   Washington, DC, January, 2016
        _Presentation_: ‘Reading paratexts in missionary linguistic works through the lens of Genette’s (1987) poetics’ 
        _Presenter_: Doyle Calhoun



<h3>Grants and awards</h3>

__Fulbright Research/Study Grant (2016–2017)__ *U.S. Department of State (IIE) Fellowship*  awarded March 2016
        _Recipient_: Doyle Calhoun
        _Full funding for one year of research and residency in Belgium_

__Vivien Law Prize__    December 2015
        *Recipient*: Doyle Calhoun (first North American, and youngest recipient)
        *This is an international prize awarded by the Henry Sweet Society that recognizes the best student essay in the History of Linguistc Ideas. The competition is open to all currently registered students,and to scholars who have received their PhD within the last five years.*

__Undergraduate Thesis Research Supplemental Grant__    Fall 2015
        *Recipient*: Doyle Calhoun
        *A grant awarded by the University Fellowships Committee to seniors undertaking a thesis project, to
        cover additional research expenses related to the completion of the project.*

__ACC-IAC (Undergraduate) Thesis Research Fellowship__  Summer 2015
        *Recipient*: Doyle Calhoun
        *A grant awarded by the Atlantic Coast Conference International Academic Collaborative in support of summer research related to a senior honors thesis project.*

