<%= content_for :header do %>
    Project CV
<% end %>


<h3>Interviews and press releases</h3>

<ul class="cv-list">
  <li>
    "<a href="https://youtu.be/6LHP7x1iRVI?list=PLFUPK3hS97eahl908djZhQyZjc4BFarMG" target="_blank">An Interview with
    Doyle Calhoun</a>." <em>Digital Scholarship Project Portfolio Series.</em> Boston College Libraries, 2016.
  </li>
  
  <li>
      Kijas, Anna. "<a href="http://www.bc.edu/libraries/newsletter/2016spring/doyle.html">Digital Scholarship Project: Missionary Linguistics in Colonial Africa</a>." <em>Boston College Libraries Newsletter</em> 17, No. 1 (Spring 2016).
  </li>
</ul>

<h3>Publications and presentations</h3>

<ul class="cv-list">
  <li>
    <div class="cv-item-head"><span class="cv-title">Henry Sweet Society Colloquium</span>
      Pembroke College, University of Cambridge, U.K., September 2016
    </div>
    <em>Presentation</em>: ‘What gets lost in the (re-)presentation of older linguistic texts?'<br>
    <em>Presenter</em>: Doyle Calhoun<br>
  </li>
  
  <li>
    <div class="cv-item-head"><span class="cv-title">Boston College Annual Undergraduate Research Symposium</span>
      Chestnut Hill, MA, March 2016
    </div>
    <em>Presentation</em>: ‘Digitizing and contextualizing French missionary linguistic texts'<br>
    <em>Presenter</em>: Doyle Calhoun<br>
  </li>

  <li>
    <div class="cv-item-head">
      <span class="cv-title">Annual Meeting of the <em>North American Association for the History of the Language Sciences
        (NAAHoLS)</em></span>
      Washington, DC, January, 2016
    </div>
    <em>Presentation</em>: ‘Reading paratexts in missionary linguistic works through the lens of Genette’s (1987)
    poetics'<br>
    <em>Presenter</em>: Doyle Calhoun
  </li>
</ul>

<h3>Grants and awards</h3>

<ul class="cv-list">
  <li>
    <div class="cv-item-head">
      <span class="cv-title">Fulbright Research/Study Grant (2016–2017)</span>
      <em>U.S. Department of State (IIE) Fellowship</em>
      awarded March 2016
    </div>
    <em>Recipient</em>: Doyle Calhoun<br>
    <em>Full funding for one year of research and residency in Belgium at the University of Leuven Center for the Historiography of Linguistics. The research will focus on the linguistic analyses of African languages produced by French Catholic missionaries, and will be conducted under the supervision of Professors Toon Van Hal and Pierre Swiggers.</em><br>
  </li>

 <li>
    <div class="cv-item-head">
      <span class="cv-title">Salmon-Verburg Memorial Fund (2016–2017)</span>
      <em>Henry Sweet Society</em>
      awarded April 2016
    </div>
    <em>Recipient</em>: Doyle Calhoun<br>
    <em>This bursary supports deserving scholars who have been invited to present at the annual meeting of the <strong>Henry Sweet Society</strong>.</em><br>
  </li>
  
  <li>
    <div class="cv-item-head"><span class="cv-title">Vivien Law Prize</span> December 2015</div>
    <em>Recipient</em>: Doyle Calhoun (first North American, and youngest recipient)<br>

    <em>This is an international prize awarded by the <strong>Henry Sweet Society</strong> that recognizes the best
      student essay in the History of Linguistc Ideas. The competition is open to all currently registered
      students,and to scholars who have received their PhD within the last five years.</em><br>
  </li>

  <li>
    <div class="cv-item-head"><span class="cv-title">Undergraduate Thesis Research Supplemental Grant</span> Fall 2015
    </div>
    <em>Recipient</em>: Doyle Calhoun<br>
    <em>A grant awarded by the University Fellowships Committee to seniors undertaking a thesis project, to cover
      additional research expenses related to the completion of the project. This grant funded the purchase of a license for the XML Editor Oxygen.</em><br>
  </li>

  <li>
    <div class="cv-item-head"><span class="cv-title">ACC-IAC (Undergraduate) Thesis Research Fellowship</span> Summer
      2015
    </div>

    <em>Recipient</em>: Doyle Calhoun<br>
    <em>A grant awarded by the Atlantic Coast Conference International Academic Collaborative in support of summer
      research related to a senior honors thesis project. Research focused on the creation and mangagement of a digital corpus of older linguistic texts and was conducted at the University of Sheffield and the University of Cambridge.</em><br>
  </li>
</ul>
