<section id="banner">
  <header>
    <h2>Introduction</h2>
  </header>

  <p>This database organizes and presents digitized linguistic analyses of the languages of continental Africa and
    Madagascar; all were compiled by French missionaries in the late 19th and early 20th centuries. These texts— which
    take the form of dictionaries, grammars, and vocabularies— are important historico-cultural artifacts and valuable
    sources of knowledge about the role played by missionaries in collecting and circulating ethnolinguistic information
    about non-Indo-European languages. They are also highly problematic works of linguistic analysis, insofar as they
    were harnessed to, and legitimized, a larger ideological project of conversion and missionization.
    However heterogenous, and at times uncomfortable, the legacy of missionary linguistic activity in colonial Africa,
    the documents that result from the missionary enterprise are undoubtedly inscribed in the history of Western
    language science.</p>

  <p>This database aims to present (in some cases, previously unavailable) missionary linguistic texts in such a way
    that renders them accessible and navigable, while contextualizing them with pertinent bibliographic and
    ethnolinguistic metadata. Reading missionary linguistic texts makes significant demands on the modern linguist, but
    insofar as it alerts us to the reality that the contours of the history of linguistic are discontinuous, irregular,
    and in flux, reading these texts helps us to cultivate hermeneutic and interpersonal openness.
  </p>

</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">
    <header>
      <h2>Source Texts</h2>
    </header>
    <article>
      <a href="http://grammars.lutralib.org/texts/1/read" class="image featured"><img src="/img/pic02.jpg" alt=""/></a>
      <header>
        <h3><a href="http://grammars.lutralib.org/texts/1/read">Placeholder</a></h3>
      </header>
      <p>Dictionnaire Chaouia-Arabe-Kabyle & Français</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic02.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Fermentum sagittis proin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic03.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic04.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Ultrices urna sit lobortis</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic05.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Varius magnis sollicitudin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic01.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Pulvinar sagittis congue</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic02.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Fermentum sagittis proin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic03.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Sed quis rhoncus placerat</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic04.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Ultrices urna sit lobortis</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="/img/pic05.jpg" alt=""/></a>
      <header>
        <h3><a href="#">Varius magnis sollicitudin</a></h3>
      </header>
      <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
    </article>

  </div>
</section>

