<!-- Banner -->
<section id="banner">
  <header>
    <h2>Overview</h2>
  </header>
  <br>
  <h3>What is <em>missionary linguistics</em> and why does it matter?</h3>
  <br>
  <p>
    The study of missionary linguistics, in its broadest terms, seeks to investigate, understand, contextualize, and in
    some cases evaluate, the missionary linguist’s contributions and approaches to the study of language. The linguistic
    records created by missionaries are important, yet underexplored sources of information about the colonial encounter
    and provide insight into how the Western world has variously conceptualized, studied, and analyzed non-Indo-European
    languages and cultures. Missionary linguistic texts— which include, for instance, dictionaries, vocabularies,
    grammars, translation manuals (and various combinations and hybridizations of these categories)— aimed to record the
    grammatical and lexical facts of indigenous languages as an aid to evangelization. Insofar as they analyze,
    represent, and reproduce those languages on the authors’ but not the speakers’ terms, these texts instantiate
    colonial discourses of power as much as any political or legal document. Close analysis allows us to answer
    questions such as: What about non-European languages shocked, challenged, or puzzled missionary linguists? What did
    they admire?
  </p>
  <p>At times, the texts reveal their authors’ deep appreciation for a language or speech community; at other times,
    they are miniature arenas of colonial and post-colonial processes of subordination, exploitation, and
    (mis-)representation. The sheer heterogeneity of missionary linguistic work reminds us that the range of attitudes
    held by missionaries towards the languages and cultures that they studied, documented, commented on, and were
    immersed in, varied greatly. It also requires that we do our best to understand the texts with an eye to the
    idiosyncrasies and biases of their authors, and to reinscribe them in the nexus of sociocultural, political, and
    ideological infrastructures in which they were produced. Understanding missionary linguistic work is no less crucial
    today, since academic linguists often work alongside linguists from missionary organizations, but with very
    different, and sometimes divergent, goals. <sup><a href="#fn1" id="ref1">1</a></sup>
  </p>

  <br>
  <h3>Why 'go digital'?</h3>
  <br>
  <p>In the past decade, the study of missionary and colonial linguistics has developed into one of the most active
    subfields within the history of linguistics and linguistic-historiographical
    research.<sup><a href="#fn2" id="ref2">2</a></sup> With the growth of the field, scholars increasingly recognize the
    need for an interdisciplinary and collaborative approach that incorporates methodologies from the digital humanities
    to make missionary linguistic texts digitally available. Moreover, an approach is needed that would organize,
    encode, and present those materials in a way that is compatible with other digital corpora, and which would render
    the digitized texts searchable along various parameters: namely, ‘specific meta-language, language described,
    author, period, religious order, country, region, grammatical terminology, or references to other
    sources’.<sup><a href="#fn3" id="ref3">3</a></sup>
  </p>

  <br>
  <h3>Goals of the current project</h3>
  <br>
  <p>
    The current project aims to respond to the need for a digital approach to primary sources in missionary linguistics,
    by making a specific collection of mission documents available to the public and presenting them in a way that
    facilitates future scholarship while accommodating users from a variety of backgrounds and disciplines, and with a
    variety of interests. In doing so, we hope to renew attention to older linguistic documentation; improve
    understanding of earlier language scholarship and the circulation of ethnolinguistic information; and to contribute
    to present-day knowledge on the (often ill-documented) languages recorded in missionary texts. As this is an ongoing
    research project, we hope to continue to explore the ways in which the nature of the object of study (that is,
    missionary linguistic texts) and the various historiographical, linguistic, and digital methodologies employed,
    participate in a process of mutual shaping.</p>
  <br>
  <br>

  </div>
</section>


<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2><a href="#"></a></h2>

      <p>
      <h3>Notes</h3>
      </p>
    </header>
    <p>
    <p>
      <sup id="fn1">1. For a collection of papers examining the relationship between missionary linguistic organizations
        and the academy, see Dobrin & Good (2009); Svelmoe (2009); Handman (2009); Epps & Ladley (2009); Olson
        (2009).<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup></p>
    <p><sup id="fn2">2. See Zwartjes (2012) and Ridruejo (2014) for states of the
      art.<a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></sup></p>
    <p><sup id="fn3">3. Zwartjes, 2012: 213.<a href="#ref3" title="Jump back to footnote 3 in the text.">↩</a></sup></p>
    </p>
    <footer>
      <a href="#" class="button">read more</a>
    </footer>
  </article>


</div>
