<!-- Banner -->
<section id="banner">
  <header>
  </header>
</section>


<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">

    <header>
      <h2>Project Praxis</h2>
    </header>

    <br>
    <br>
    <h3>Methodology</h3>
    <p></p>
    <br>

    <h4>Database-external sources:</h3>
      <ul style="list-style-type:none">
        <li><a href="http://wals.info/">World Atlas of Language Structures (WALS)</a>: a database of structural
          properties of languages
        </li>
      </ul>
      <ul style="list-style-type:none">
        <li><a href="https://www.ethnologue.com/">Ethnologue</a>: online publication providing various statistics on the
          world’s languages (number of speakers, location, dialects, viability, availability of Bible translation,
          etc.); assigns each language (and in most cases, each dialect) a unique ISO code
        </li>
      </ul>
      <ul style="list-style-type:none">
        <li><a href="http://glottolog.org/">Glottolog</a>: a bibliographic database of the world’s lesser-known
          languages; includes geographic coordinates for nuclear languages, and is searchable both by “glottocode” and
          ISO code (therefore compatible with Ethnologue)
        </li>
      </ul>
      <ul style="list-style-type:none">
        <li>Jesuit Archives and, in particular, the
          <a href="http://jesuitarchives.org/catalogus-defunctorum/">Catalogus Defunctorum</a>: registries that provide
          biographic and historical information about Jesuits (place of birth/death, ecclesiastical rank, countries they
          were stationed in etc.)
        </li>
      </ul>
      <ul style="list-style-type:none">
        <li><a href="http://www.brown.edu/Research/AAAH/">Animated Atlas of African History 1879-2002</a>: an animated
          map of selected themes in the history of Africa between 1879 and 2002.
        </li>
      </ul>

      <br>
      <h3>Technical aspects</h3>
      <p></p>
      <br>
      <br>
      <br>

      <footer>
        <a href="#" class="button">read more</a>
      </footer>
  </article>


</div>