<%= content_for :header do %>Prosopography
<% end %>

<p>The three TEI XML files included here encode information about the authors, missionary organizations, and places of
  publication represented in the corpus. The files are also available for viewing and download, along with an encoded
  dictionary preface and encoded dictionary entry, at the
  <a href="http://beta.tapasproject.org/" target="_blank">TAPAS repository</a>.
</p>

<h3>Authors</h3> <a class="xml-link" href="/xml/Personography.xml">XML</a> <a href="/xml/Personography.pdf">PDF</a>
<p>
  This file assigns each of the missionary authors represented in the corpus a unique xml:id and, when the information
  is available, identifies the individual authors along the following parameters: name, life dates, nationality,
  affiliation, residence, and their corresponding entry in relevant missionary organization records. Biographic
  information is assembled from three sources: French Spiritan online records; the
  <cite>Jesuit Catalogus Defunctorum</cite>; and the <cite>Dictionnaire Biographique des Chrétiens d'Afrique</cite>.
</p>

<h3>Missionary organizations</h3> <a class="xml-link" href="/xml/Orgography.xml">XML</a> <a href="/xml/Orgography.pdf">PDF</a>
<p>
  This file provides a succinct overview of the provenance of the various missionary organizations represented in the
  corpus.
  All information is assembled from the missionary orders’ official websites.
</p>

<h3>Places of Publication</h3> <a class="xml-link" href="/xml/PublicationGazetteer.xml">XML</a> <a href="/xml/PublicationGazetteer.pdf">PDF</a>
<p>This file organizes texts in the corpus according to their place of publication. </p>
