<div class="text">
  <div class="metadata">
    <h3>Group</h3>
    <%= simple_form_for @group do |f| %>
        <%= f.input :name, :as => :string %>
        <%= f.submit 'Save' %>
    <% end %>
  </div>
</div>