// Place all the styles related to the language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0 0 1em 0;
  color: #727272;
  clear: left;
  font: $accent_font;

  @media screen and (max-width: $break-medium) {
    width: 35%;
  }
}

.language .metadata {
  @extend .main-content;
  margin-right: 2%;
}

.language .texts {
  @extend .sub-content;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: .5em;
      font-style: italic;
    }
  }
}

dd {
  float: left;
  width: 80%;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;

  @media screen and (max-width: $break-medium) {
    width: 65%;
  }

  ul {
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    list-style: none;
  }

}

.language-search {
  .structure-pane ul {
    padding-left: 0;
  }

  li.selected a {
    font-weight: 600;
  }

  .search-result-page {
    padding-right: 12em
  }
}

.language {
  width: 80%;
}

p.no-language-message {
  top: 52px;
  position: relative;
}

#language-list li {
  @media screen and (max-width: $break-medium) {
    display: inline-block;
    border: 1px solid #ccc;
    padding: .25em .5em;
    margin: .5em .25em;
  }
}