// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reader-body {
  background-color: #000;

  main {
    max-width: none;
    width: 100%;
  }
}

.metadata {
  padding: .5em;
  background-color: $primary-color-light;
  color: $primary-text-color;
  font-size: .9em;
  height: 50%;
}

.text .languages {
  @extend .sub-content;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: .5em;
    }
  }
}

.flags {
}

.input label {
  float: left;
  width: 18%;
}

.search-pane {
  @extend .sub-content;
}

.search-results {
  @extend .main-content;
  margin-left: 2%;
  background-color: #fff;
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}

.search-page {
  label {
    display: block;
  }
  select, input {
    margin-bottom: .5em;
  }
}

.read-page, .read-pane {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $break-medium) {
    flex-direction: row-reverse;
  }
  height: 100%;
}

.structure-pane {
  flex-basis: 35%;
  padding: 0 2em;
  font-size: .9em;
  background-color: white;
  overflow: scroll;
  font-family: $accent_font;

  @media screen and (max-width: $break-medium) {
    flex: 0 0 100%;
  }

  h2 {
    margin-bottom: .1em;
  }

  ul {
    list-style: none;
    padding-left: 1em;
    margin-top: .5em;

    li {
      font-weight: normal;
      margin-bottom: .5em;
    }

  }

  .author-list {
    margin-top: 0;
    padding-left: 0;
    font-family: $accent_font;
  }

  .text-structure > ul {

    > li {
      font-weight: bold;

      > ul {
        > li > ul {
          font-size: .95em;

          > li > ul {
            color: #666;

            > li > ulq {
              font-size: .9em;
            }
          }
        }
      }
    }
    padding-left: 0;
  }

  a {
    cursor: pointer;
  }
}

#reader {
  width: 100%;

  @media screen and (min-width: $break-medium) {
    height: 100vh;
  }
}

.read-pane {
  padding: 0;
  flex-basis: 65%;
  @media screen and (max-width: $break-medium) {
    flex: 0 0 100%;
  }

  height: 100%;
  position: relative;

  background-color: black;

  text-align: center;

  .read-viewer {
    margin: 0 auto;
    width: 75%;
    height: 100%;
  }

  #img-holder {
    position: relative;
    height: 100%;
    width: 80%;
    overflow: auto; /*this gives us our scroll bar when the content is longer than the div*/

    img {
      padding-top: 5%;
      height: 95%;
      margin: 0 auto;
    }
  }

  .prev-page, .next-page {
    width: 10%;
    cursor: pointer;
    background-color: transparent;
    color: #d1d2d1;
    font-size: 64px;
    padding-top: 5em;
    margin: 0;
    line-height: 100%;
    vertical-align: center;

    &:hover {
      color: #fefdff;
      background-color: rgba(200, 201, 198, .2);
    }
  }

  .next-page {
    padding-right: .3em;
    text-align: right;
  }

  .prev-page {
    padding-left: .3em;
    text-align: left;
  }
}

.logged-in .img-page-num {
  position: absolute;
  color: white;
  font-family: $accent_font;
  font-size: 48px;
  top: 1em;
  right: 1em;
  background: rgba(255, 255, 255, .3);
  padding: .2em;
}

.open-subsection-control {
  display: inline;
  margin-left: .5em;
  cursor: pointer;
}

li.closed-section > ul {
  display: none;
}

.text-list {
  display: flex;
  flex-wrap: wrap;
}

.text-list li {
  width: 200px;
  list-style: none outside none;
  padding: .5em 1em;
  margin:  1em 1em 1em;
  font-family: $accent_font;
  font-size: .9em;
  background-color: #d1d2d0;

  img {
    display: block;
    margin: 0 auto .5em auto;
    height: 200px;
  }

  cite {
    display: block;
    width: 100%;
    background-color: #eeefec;
  }
}