<h1>Texts</h1>
<ul>
  <% @texts.each do |text| %>
      <li>
        <cite><%= link_to text.title, read_text_path(text) %></cite>
        <% if logged_in? %>
            <%= link_to 'delete', text_path(text.id), :method => :delete, :class => 'delete', :confirm => 'Are you sure ?' %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if logged_in? %>
    <%= link_to '+ New text', :controller => :texts, :action => :new %>
<% end %>