<h2>Search texts</h2>

<div id="container"></div>

<ul>
  <% @titles.sort.each do |title| %>
      <li><%= title %></li>
  <% end %>
</ul>

<ul>

  <% @languages.sort.each do |language| %>
      <li><%= language %></li>
  <% end %>
</ul>

<ul>
  <% @publishers.sort.each do |publisher| %>
      <li><%= publisher %></li>
  <% end %>
</ul>